In [1]:
from ema_workbench import load_results
from ema_workbench import (Model, RealParameter, ScalarOutcome, MultiprocessingEvaluator, 
                           ema_logging, Constant, Scenario, Policy, CategoricalParameter, IntegerParameter,
                           perform_experiments, SequentialEvaluator)

from ema_workbench.em_framework.evaluators import perform_experiments
from ema_workbench.em_framework.samplers import sample_uncertainties
from ema_workbench.util import ema_logging, utilities
import time

ema_logging.log_to_stderr(ema_logging.INFO)

In [2]:
from dike_model_function import DikeNetwork  # @UnresolvedImport
from problem_formulation import get_model_for_problem_formulation

dike_model,  planning_steps = get_model_for_problem_formulation(5) #disaggregate over locations

In [3]:
# we do not want any policies to run for the base case

policies = [Policy("base case no policy", **{k.name: 0 for k in dike_model.levers})]

In [4]:
# EMA workbench experiment runs with 1000 experiments
n_scenarios = 1000
with MultiprocessingEvaluator(dike_model) as evaluator:
    results = evaluator.perform_experiments(n_scenarios,
                                            policies)

[MainProcess/INFO] pool started with 8 workers
[MainProcess/INFO] performing 1000 scenarios * 1 policies * 1 model(s) = 1000 experiments
  0%|                                       | 1/1000 [00:03<1:01:57,  3.72s/it]Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.1_Dike Investment Costs 0'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.2_Dike Investment Costs 0'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.3_Dike Investment Costs 0'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.4_Dike Investment Costs 0'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
  0%|▏                                        | 5/1000 [00:03<09:37,  1.72it/s]Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.5_Dike Investment Costs 0'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.1_Dike Investment Costs 1'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.2_Dike Investment Costs 1'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.3_Dike Investment Costs 1'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
  1%|▎                                        | 9/1000 [00:06<10:02,  1.65it/s]Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.4_Dike Investment Costs 1'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.5_Dike Investment Costs 1'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.1_Dike Investment Costs 2'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
  1%|▍                                       | 12/1000 [00:06<06:34,  2.50it/s]Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.2_Dike Investment Costs 2'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.3_Dike Investment Costs 2'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.4_Dike Investment Costs 2'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 246, in _store_outcomes
    self.results[outcome][case_id,] = outcome_res
KeyError: 'A.5_Dike Investment Costs 2'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\ema_multiprocessing.py", line 253, in run
    self.callback(*result.get())
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 281, in __call__
    self._store_outcomes(experiment.experiment_id, outcomes)
  File "C:\Users\31649\anaconda3\lib\site-packages\ema_workbench\em_framework\callbacks.py", line 260, in _store_outcomes
    self.results[outcome][:] = np.nan
ValueError: cannot convert float NaN to integer
100%|██████████████████████████████████████| 1000/1000 [06:06<00:00,  2.73it/s]
[MainProcess/INFO] experiments finished
[MainProcess/INFO] terminating pool

In [5]:
#saving the results
utilities.save_results(results, 'results/base_case_diss_time_and_locations_no_policy.tar.gz')

[MainProcess/INFO] results saved successfully to C:\Users\31649\Documents\Master\Model-based decisionmaking\epa1361_open-master\final assignment\results\base_case_diss_time_and_locations_no_policy.tar.gz

In [6]:
import pandas as pd
#Load in the results
base_case_results=utilities.load_results('results/base_case_diss_time_and_locations_no_policy.tar.gz')
experiments, outcomes = base_case_results
outcomes = pd.DataFrame(outcomes)
experiments = pd.DataFrame(experiments)

[MainProcess/INFO] results loaded successfully from C:\Users\31649\Documents\Master\Model-based decisionmaking\epa1361_open-master\final assignment\results\base_case_diss_time_and_locations_no_policy.tar.gz

In [15]:
outcomes

,A.1_Expected Annual Damage 0,A.1_Dike Investment Costs 0,A.1_Expected Number of Deaths 0,A.2_Expected Annual Damage 0,A.2_Dike Investment Costs 0,A.2_Expected Number of Deaths 0,A.3_Expected Annual Damage 0,A.3_Dike Investment Costs 0,A.3_Expected Number of Deaths 0,A.4_Expected Annual Damage 0,...,A.3_Dike Investment Costs 2,A.3_Expected Number of Deaths 2,A.4_Expected Annual Damage 2,A.4_Dike Investment Costs 2,A.4_Expected Number of Deaths 2,A.5_Expected Annual Damage 2,A.5_Dike Investment Costs 2,A.5_Expected Number of Deaths 2,RfR Total Costs 2,Expected Evacuation Costs 2
0,1.607386e+07,0,NaN,NaN,-786209616,NaN,NaN,-786302384,NaN,NaN,...,-754586768,NaN,NaN,-754663184,NaN,NaN,0,NaN,NaN,NaN
1,0.000000e+00,0,0.000000,1.650834e+07,647,NaN,NaN,647,NaN,NaN,...,647,NaN,NaN,647,NaN,NaN,0,NaN,NaN,NaN
2,5.750082e+07,0,0.049468,3.101373e+06,0,0.003643,3.097325e+07,-755124880,NaN,NaN,...,-754675152,NaN,NaN,-754774672,NaN,NaN,0,NaN,NaN,NaN
3,7.562237e+08,0,0.605701,0.000000e+00,0,0.000000,0.000000e+00,0,0.000000,0.000000e+00,...,647,NaN,NaN,647,NaN,NaN,0,NaN,NaN,NaN
4,1.565978e+08,0,0.081475,0.000000e+00,0,0.000000,8.713140e+08,0,1.092142,0.000000e+00,...,-840663936,NaN,NaN,-840663936,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3.439976e+07,0,0.029896,2.361895e+07,0,0.027094,5.379326e+08,0,1.100780,0.000000e+00,...,0,1.100780,0.000000e+00,0,0.000000,0.000000e+00,0,0.000000,0.0,0.0
996,4.239234e+07,0,0.029252,1.252469e+07,0,0.011620,2.195979e+07,0,0.038689,1.365650e+07,...,0,0.038689,8.919767e+06,0,0.006347,5.132339e+06,0,0.006893,0.0,0.0
997,9.373940e+08,0,0.596218,5.252359e+06,0,0.004693,0.000000e+00,0,0.000000,0.000000e+00,...,0,0.000000,0.000000e+00,0,0.000000,7.649928e+07,0,0.064663,0.0,0.0
998,9.102235e+07,0,0.047832,3.972179e+08,0,0.252305,0.000000e+00,0,0.000000,0.000000e+00,...,0,0.000000,0.000000e+00,0,0.000000,0.000000e+00,0,0.000000,0.0,0.0
999,0.000000e+00,0,0.000000,5.088822e+07,0,0.035827,0.000000e+00,0,0.000000,2.160457e+07,...,0,0.000000,2.160457e+07,0,0.007423,0.000000e+00,0,0.000000,0.0,0.0

In [8]:
experiments.columns

Index(['A.0_ID flood wave shape', 'A.1_Bmax', 'A.1_Brate', 'A.1_pfail',
       'A.2_Bmax', 'A.2_Brate', 'A.2_pfail', 'A.3_Bmax', 'A.3_Brate',
       'A.3_pfail', 'A.4_Bmax', 'A.4_Brate', 'A.4_pfail', 'A.5_Bmax',
       'A.5_Brate', 'A.5_pfail', 'discount rate 0', 'discount rate 1',
       'discount rate 2', '0_RfR 0', '0_RfR 1', '0_RfR 2', '1_RfR 0',
       '1_RfR 1', '1_RfR 2', '2_RfR 0', '2_RfR 1', '2_RfR 2', '3_RfR 0',
       '3_RfR 1', '3_RfR 2', '4_RfR 0', '4_RfR 1', '4_RfR 2',
       'EWS_DaysToThreat', 'A.1_DikeIncrease 0', 'A.1_DikeIncrease 1',
       'A.1_DikeIncrease 2', 'A.2_DikeIncrease 0', 'A.2_DikeIncrease 1',
       'A.2_DikeIncrease 2', 'A.3_DikeIncrease 0', 'A.3_DikeIncrease 1',
       'A.3_DikeIncrease 2', 'A.4_DikeIncrease 0', 'A.4_DikeIncrease 1',
       'A.4_DikeIncrease 2', 'A.5_DikeIncrease 0', 'A.5_DikeIncrease 1',
       'A.5_DikeIncrease 2', 'scenario', 'policy', 'model'],
      dtype='object')

In [9]:
# since we are not using any policy implementations (levers), we can remove al inputs about RfR, EWS and dike increase (since they without levers give us 0)
experiments_nolevers = experiments.iloc[:,:19]
experiments_nolevers.head()

,A.0_ID flood wave shape,A.1_Bmax,A.1_Brate,A.1_pfail,A.2_Bmax,A.2_Brate,A.2_pfail,A.3_Bmax,A.3_Brate,A.3_pfail,A.4_Bmax,A.4_Brate,A.4_pfail,A.5_Bmax,A.5_Brate,A.5_pfail,discount rate 0,discount rate 1,discount rate 2
0,121,205.448095,1.5,0.717393,348.095764,1.0,0.949061,111.072715,1.0,0.406849,78.669463,1.5,0.884506,135.621023,10.0,0.355826,1.5,4.5,4.5
1,29,286.066857,10.0,0.984979,226.762359,10.0,0.757415,124.342349,1.5,0.463510,330.126984,1.0,0.086548,137.113798,1.5,0.625524,1.5,3.5,1.5
2,28,282.819022,10.0,0.517105,288.203606,1.5,0.756641,252.835966,1.0,0.583842,217.644099,10.0,0.976099,227.971945,10.0,0.279618,3.5,4.5,1.5
3,83,284.233888,1.0,0.288923,42.931769,10.0,0.332499,42.935088,10.0,0.677552,70.274910,1.0,0.740911,265.181583,10.0,0.147626,3.5,1.5,4.5
4,65,335.222590,1.5,0.481687,151.307789,1.0,0.815709,114.931505,1.5,0.036784,181.488147,1.0,0.432515,191.810191,1.5,0.813514,1.5,4.5,1.5